---
Checks: >-
  *,
  ,-cppcoreguidelines-macro-usage,
  ,-cppcoreguidelines-missing-std-forward,
  ,-fuchsia-*,
  ,-google-readability-namespace-comments,
  ,-google-runtime-references,
  ,-google-build-using-namespace,
  ,-hicpp-named-parameter,
  ,-llvm-header-guard,
  ,-llvm-namespace-comment,
  ,-llvmlibc-*,
  ,-misc-include-cleaner,
  ,-readability-braces-around-statements,
  ,-readability-named-parameter,
  ,-fuchsia-overloaded-operator,
  ,-fuchsia-default-arguments,
  ,-fuchsia-trailing-return,
  ,-hicpp-braces-around-statements,
  ,-readability-identifier-length,
#,-hicpp-explicit-conversions,
